html {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  background: #EEE;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}

p {
  font-size: 1rem;
}

#root {
  max-width: 800px;
  margin: 1rem auto;
  text-align: center;
}

iframe {
  margin: 0 auto;
}
